<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Customer Relationship Management App</title>
    <link rel="stylesheet" href="./css/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </head>
  <body>
    <div id="popup-msg"></div>
    <h2>CRM APP</h2>
    <div id="row"></div>
    <script src="./js/script.js"></script>
  </body>
  <footer>© Abinash Biswal</footer>
</html>
