<!DOCTYPE html>
<html lang="en" >
	<head>
		<meta charset="UTF-8">
		<title>Online Donation Camp</title>
		<link rel="stylesheet" href="./css/style.css">
	</head>
	<body>
		<h2>Online Donation Camp</h2>
		<div class="container" id="container">
			<div class="form-container sign-up-container">
				<form action="<%= regEndpoint %>", method="POST">
					<h1>Create Account</h1>
					<input type="password" placeholder="Google App Password" name="passcode" autocomplete="off" required/>
					<input type="email" placeholder="Email" name="email" autocomplete="off" required/>
					<input type="password" placeholder="Password" name="password" autocomplete="off" required/>
					<button>Sign Up</button>
				</form>
			</div>
			<div class="form-container sign-in-container">
				<form action="<%= loginEndpoint %>", method="POST">
					<h1>Sign in</h1>
					<input type="text" placeholder="Email" name="email" required/>
					<input type="password" placeholder="Password" name="password" required/>
					<a href="#">Forgot your password?</a>
					<button>Sign In</button>
				</form>
			</div>
			<div class="overlay-container">
				<div class="overlay">
					<div class="overlay-panel overlay-left">
						<h1>Welcome Back!</h1>
						<p>To keep connected with us please login with your personal info</p>
						<button class="ghost" id="signIn">Sign In</button>
					</div>
					<div class="overlay-panel overlay-right">
						<h1>Hello, Friend!</h1>
						<p>Enter your personal details and start journey with us</p>
						<button class="ghost" id="signUp">Sign Up</button>
					</div>
				</div>
			</div>
		</div>
		<script src="./js/script.js"></script>
	</body>
</html>